/* ==========================================================================
   Author's custom styles
   ========================================================================== */

/*  globals
	white
	dark: #423a2c
	dark shade 1: #26231d
	main color: #3c9dd0
	main color shade 1: #086da3
	accent: #f36c23
	accent tint 1: #e5ae6e */
   
@font-face {
  font-family: 'Antonio-Bold';
  src: url('../fonts/Antonio-Bold.ttf') format('truetype');
}   
   
html,
body {
  height: 100%;
  /* The html and body elements cannot have any padding or margin. */
}

body {
  color: #423a2c;
}
  
/* Wrapper for page content to push down footer */
#wrap {
  min-height: 100%;
  height: auto !important;
  height: 100%;
  /* Negative indent footer by its height */
  margin: 0 auto -60px;
  /* Pad bottom by footer height */
  padding: 50px 0 60px;
}

/* Set the fixed height of the footer here */
#footer {
  height: 60px;
  background-color: #f5f5f5;
}

.navbar-inverse {
	background-color: #423a2c;
	border-color: #26231d;
}

.jumbotron h1 {
	font-family: "Antonio-Bold", sans-serif;
	text-transform: uppercase;
	letter-spacing: -.055em;
	text-shadow: 1px 1px #fff, 2px 2px #fff;
}

.featurette-heading {
	text-transform: uppercase;
	letter-spacing: -.03em;
	font-family: "Antonio-Bold", sans-serif;
	color: #3c9dd0;
}
.featurette-heading .text-muted {
	color: #086da3;
}
	